@layer base {
  :root {
    --color-yellow: #f8dd9f;
    --color-white: #ffffff;
    --color-black: #000000;

    --color-primary: var(--color-yellow);
    --color-fg: var(--color-black);
    --color-bg: var(--color-white);

    --font-titles: 'DM Serif Display', serif;
    --font-sans: "Poppins", sans-serif;

    font-family: var(--font-sans);
  }
}

p,
h1,
h2,
h3 {
  color: var(--color-fg);

}

h1,
h2,
h3 {
  font-family: var(--font-titles);
}


body {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}


main {
  flex: 1;
}

.container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  padding-right: 1rem;
  padding-left: 1rem;

  max-width: 1024px;
}